<!DOCTYPE html>
<html>
  <head>
    <title>Furima31631</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <%= stylesheet_link_tag 'application', media: 'all'%> <%# メモ(元の記述), media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %> <%# titleアイコン(favicon)の設定 %>
    <%= javascript_pack_tag 'application' %> <%# メモ(元の記述), 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= breadcrumbs separator: " &rsaquo; " %>
    <%= yield %>
  </body>
</html>
